### List
Lists are ordered, mutuable, allows duplicate elements

In [1]:
my_list = []
my_list2 = list()

In [2]:
my_list = [5, True, "apple", "apple"]
my_list

[5, True, 'apple', 'apple']

In [3]:
#last item of the list
item = my_list[-1] 
item

'apple'

In [4]:
#check the item is in the list
if "banana" in my_list:
    print("yes")
else:
    print("no")

no

In [5]:
#add item to list by index
my_list.insert(1, "lemon")
my_list

[5, 'lemon', True, 'apple', 'apple']

In [6]:
#pop the last item from list
item = my_list.pop()
print(item)
print(my_list)

apple
[5, 'lemon', True, 'apple']

In [7]:
#remove the elements from list
my_list.remove(5)
my_list

['lemon', True, 'apple']

In [8]:
#reverse the list 
my_list.reverse()
my_list

['apple', True, 'lemon']

In [13]:
#remove all elements from the list
my_list.clear()
my_list

[]

In [12]:
#sort list alphabetically
my_list2 = ["dila", "sude", "erkan", "cigdem"]
my_list2.sort()
my_list2

['cigdem', 'dila', 'erkan', 'sude']

In [14]:
#sort list element on the non-original list
my_list = [5, -2, 1 ,-1, 3, 0]
new_list = sorted(my_list)
new_list

[-2, -1, 0, 1, 3, 5]

In [15]:
#create a same number list
my_list3 = [0] * 5
my_list3

[0, 0, 0, 0, 0]

In [30]:
#square list
my_list = [5, -2, 1 ,-1, 3, 0]
[i*i for i in my_list]

[25, 4, 1, 1, 9, 0]

In [16]:
#concat the lists
concated_list = new_list + my_list3
concated_list

[-2, -1, 0, 1, 3, 5, 0, 0, 0, 0, 0]

In [20]:
#slicing
num_list = [1,2,3,4,5,6,7,8,9]
print(num_list[1:5]) #1 2 3 4 
print(num_list[:5]) #starts from the beginning
print(num_list[1:]) #goes until the end
print(num_list[::2]) #starts from the beginning and goes until the end with 2 step size
print(num_list[::-1]) #reverse the list

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
#copy list
#if we assign a list to a value directly and append a value to the copy list, original list also changed
#behind of that both list refer to the same list inside of the memory
fruit_list = ["banana", "cherry", "apple"]
copy_fruit_list = fruit_list
copy_fruit_list.append("watermelon")
print(fruit_list)
print(copy_fruit_list)
print("----------------------------------------------------")

#if we want a copy list
copy_fruit_list = fruit_list.copy() #first way
copy_fruit_list = list(fruit_list) #second way
copy_fruit_list = fruit_list[:] #third way
copy_fruit_list.append("berry")
print(fruit_list)
print(copy_fruit_list)

['banana', 'cherry', 'apple', 'watermelon']
['banana', 'cherry', 'apple', 'watermelon']
----------------------------------------------------
['banana', 'cherry', 'apple', 'watermelon']
['banana', 'cherry', 'apple', 'watermelon', 'berry']